name: Run WebDriverIO Web and API Tests

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "30 11 * * *"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm ci

      - name: Run Prettier check
        run: npx prettier --check .

      - name: Run WebDriverIO Web tests
        run: npx wdio run web.conf.ts

      - name: Run WebDriverIO API tests
        run: npx wdio run api.conf.ts
